.statistics {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}
.statlist {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 9px;
  width: 100px;
  background-color: aliceblue;
  text-align: center;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  font-weight: 500;
}
.percentage {
  font-size: 23px;
  color: rgb(30, 30, 197);
}
